<%= content_for :title, "Balanceo" %>

<div class="row">
	<div class="large-12 columns">
		<h1>Balanceo manual</h1>
		<%= link_to "Actualizar nombres de jugadores", admin_update_users_path(callback: request.url), class: "button tiny" %>
	</div>
</div>
	
<div class="row">
	<div class="large-12 columns">
		
		<%= form_tag({action: :balancing}, method: :post, remote: true) do %>
		<fieldset>
			<legend style="color:black">Jugadores</legend>
			<div class="row">
				<div class="large-2 large-offset-1 columns">
					<%= collection_select :players, :user_1, @allowed, :id, :nickname %>	
				</div>
				<div class="large-2 columns">
					<%= collection_select :players, :user_2, @allowed, :id, :nickname %>	
				</div>
				<div class="large-2 columns">
					<%= collection_select :players, :user_3, @allowed, :id, :nickname %>
				</div>
				<div class="large-2 columns">
					<%= collection_select :players, :user_4, @allowed, :id, :nickname %>
				</div>
				<div class="large-2 columns end">
					<%= collection_select :players, :user_5, @allowed, :id, :nickname %>
				</div>
			</div>
			<div class="row">
				<div class="large-2 large-offset-1 columns">
					<%= collection_select :players, :user_6, @allowed, :id, :nickname %>	
				</div>
				<div class="large-2 columns">
					<%= collection_select :players, :user_7, @allowed, :id, :nickname %>
				</div>
				<div class="large-2 columns">
					<%= collection_select :players, :user_8, @allowed, :id, :nickname %>
				</div>
				<div class="large-2 columns">
					<%= collection_select :players, :user_9, @allowed, :id, :nickname %>
				</div>
				<div class="large-2 columns end">
					<%= collection_select :players, :user_10, @allowed, :id, :nickname %>
				</div>
			</div>
			<div class="row" style="margin-top:30px">
				<div class="large-12 columns text-center">
					<%= submit_tag "Balancear", class: "button" %>
				</div>
			</div>
		</fieldset>
		<% end %>

		<fieldset>
			<legend style="color:black">Resultado</legend>
			<div id="res">
				<%= render partial: 'balancing_result' %>
			</div>
		</fieldset>

	</div>
</div>