<%= content_for :title, @page_title %>

<div class="row">
	<div class="large-12 columns" style="background-color: #333; margin: 10px 0 10px 0px; padding: 5px 10px 5px 10px;">
		<div class="row" style="font-weight:bold">
			<div class="small-2 columns text-left">
				Pos.
			</div>
			<div class="small-4 columns">
				Jugador
			</div>
			<div class="small-2 columns text-left">
				Puntaje
			</div>
			<div class="small-1 columns text-center">
				PJ
			</div>
			<div class="small-1 columns text-center">
				PG
			</div>
			<div class="small-1 columns text-center">
				PP
			</div>
			<div class="small-1 columns text-center">
				Pen.
			</div>
		</div>	
	</div>
</div>

<div class="row">
	<div class="large-12 columns" style="background-color: #222; padding: 10px">
		
		<% unless @ranking.blank? %>

		<% @ranking.each do |r| %>
		<div class="row player-ranking" style="border-bottom: 1px solid black">
			<div class="small-2 columns text-left">
				<%= image_tag "ranking/#{r.user.progress}-red.png", alt: r.user.progress, style: "margin-right: 5px" %><%= r.current_position %>
			</div>
			<div class="small-4 columns">
				<%= link_to r.user.nickname, player_profile_slug_path(id:r.user.id, slug:r.user.nickname.parameterize), target: "_blank" %>
			</div>
			<div class="small-2 columns text-left">
				<strong><%= r.score %></strong>
			</div>
			<div class="small-1 columns text-center" style="color: #666">
				<%= r.matches %>
			</div>
			<div class="small-1 columns text-center" style="color: #666">
				<%= r.wins %>
			</div>
			<div class="small-1 columns text-center" style="color: #666">
				<%= r.loses %>
			</div>
			<div class="small-1 columns text-center" style="color: #666">
				<%= r.penalties %>
			</div>
		</div>
		<% end %>
		<div class="row" style="margin-top: 20px">
			<div class="large-12 columns text-center" style="font-size:12px">
				<%= will_paginate @ranking %>
			</div>
		</div>

		<% else %>
		<div class="row">
			<div class="small-2 columns text-left">
				-
			</div>
			<div class="small-4 columns">
				-
			</div>
			<div class="small-2 columns text-left">
				-
			</div>
			<div class="small-1 columns text-center">
				-
			</div>
			<div class="small-1 columns text-center">
				-
			</div>
			<div class="small-1 columns text-center">
				-
			</div>
			<div class="small-1 columns text-center" style="color:maroon">
				-
			</div>
		</div>
		<% end %>

	</div>
</div>