<% content_for :title, @article.title %>
<% content_for :description, @article.description %>
<% content_for :og_image, "http://dotapy.com#{@article.header.url(:fb_thumb_large)}" %>

<div class="text-justify">
	<h2><%= @article.title %></h2>
	<h5><%= @article.description %></h5>
</div>
<p id="article-info">Por <%= @article.user.nickname %> – <%= l @article.created_at, format: :long %></p>

<% unless @article.header.blank? %>
	<div class="text-center">
		<%= image_tag @article.header.url(:article), class: "th" %>
	</div>
<% end %>

<div class="text-justify">
	<%= raw @article.body %>
</div>
