<div class="row">
	<div class="large-3 columns">
		<%= f.label :duration, "Duración (en segundos)" %>
		<%= f.text_field :duration %>
	</div>
	<div class="large-5 columns">
		<%= f.label :game_mode, "Modo de juego" %>
		<%= f.select :game_mode, options_for_select([["Elección libre", 1], ["Modo capitán", 2], ["Solo mid", 11], ["Todos aleatorio", 5], ["Selección aleatoria", 3], ["Selección simple", 4], ["Selección con capitán", 16], ["Menos jugados", 12]], @match.game_mode) %>
	</div>
	<div class="large-4 columns">
		<%= f.label :match_id, "Match ID" %>
		<%= f.text_field :match_id %>
	</div>
</div>

<div class="row">
	<div class="large-8 columns">
		<%= f.label :start_time, "Fecha y hora" %>
		<%= f.datetime_select :start_time, {}, default: Time.now, class: "small-2" %>
	</div>
	<div class="large-4 columns">
		<%= f.label :radiant_win, "Ganador" %>
		<%= f.select :radiant_win, options_for_select([["Radiant", true], ["Dire", false]], @match.radiant_win) %>
	</div>
</div>

<div class="row">
	<div class="large-12 columns">
		<%= f.label :description, "Descripción" %>
		<%= f.text_field :description %>
	</div>
</div>

<hr><h3 class="text-center">Jugadores</h3>

<div class="panel callout text-center">
	Recuerde actualizar la lista de jugadores antes de cargar los datos de la partida.<br>
	<%= link_to "Actualizar lista de jugadores", admin_update_users_path(callback: request.url), class: "button tiny" %>
</div>

<%= f.nested_fields_for :match_details do |d| %>
<div class="row">
	<div class="small-2 columns">
		<%= d.label :player_slot, "Slot" %>
		<%= d.select :player_slot, options_for_select([["Radiant Slot 1", 0], ["Radiant Slot 2", 1], ["Radiant Slot 3", 2], ["Radiant Slot 4", 3], ["Radiant Slot 5", 4], ["Dire Slot 1", 128], ["Dire Slot 2", 129], ["Dire Slot 3", 130], ["Dire Slot 4", 131], ["Dire Slot 5", 132]], d.object.player_slot)  %>
	</div>
	<div class="small-4 columns">
		<%= d.label :user_id, "UserID" %>
		<%= d.collection_select :user_id, User.select('id, CONCAT(nickname," – ",steamid) as name').order("name ASC"), :id, :name, selected: d.object.user_id %>
	</div>
	<div class="small-2 columns">
		<%= d.label :role, "Rol" %>
		<%= d.select :role, options_for_select([["Sin especificar", 0], ["Carry", 1], ["Support", 2], ["Mid", 3], ["Offlane", 4]], d.object.role)  %>
	</div>
	<div class="small-3 columns">
		<%= d.label :penalty, "Penalizaciones" %>
		<%= d.select :penalty, options_for_select([["Ninguna", 0], ["Denuncia menor (5 puntos)", 5], ["Denuncia intermedia (10 puntos)", 10], ["Denuncia grave (15 puntos)", 15], ["Abandono tras 5 minutos (20 puntos)", 20], ["Abandono instantáneo (40 puntos)", 40]], d.object.penalty)  %>
	</div>
	<div class="small-1 columns">
		<p class="text-center"><br><strong><%= d.remove_nested_fields_link raw("&times;"), class: 'button tiny' %></strong></p>
	</div>
</div>
<div class="row">
	<div class="small-3 columns">
		<%= d.label :dota_hero_id, "Heroe" %>
		<%= d.collection_select :dota_hero_id, DotaHero.all.order("name ASC"), :id, :name, {selected: d.object.dota_hero_id}, {class: 'hero_selector'} %>
	</div>
	<div class="small-1 columns">
		<%= d.label :level, "Nivel" %>
		<%= d.text_field :level %>
	</div>
	<div class="small-1 columns">
		<%= d.label :kills, "K" %>
		<%= d.text_field :kills %>
	</div>
	<div class="small-1 columns">
		<%= d.label :deaths, "D" %>
		<%= d.text_field :deaths %>
	</div>
	<div class="small-1 columns">
		<%= d.label :assists, "A" %>
		<%= d.text_field :assists %>
	</div>
	<div class="small-1 columns">
		<%= d.label :gold, "Oro" %>
		<%= d.text_field :gold %>
	</div>
	<div class="small-1 columns">
		<%= d.label :last_hits, "LH" %>
		<%= d.text_field :last_hits %>
	</div>
	<div class="small-1 columns">
		<%= d.label :denies, "DN" %>
		<%= d.text_field :denies %>
	</div>
	<div class="small-1 columns">
		<%= d.label :gold_per_min, "OPM" %>
		<%= d.text_field :gold_per_min %>
	</div>
	<div class="small-1 columns">
		<%= d.label :xp_per_min, "XPM" %>
		<%= d.text_field :xp_per_min %>
	</div>
</div>
<% end %>
<p class="text-right"><%= f.add_nested_fields_link :match_details, "Agregar jugador" %></p>

<hr>

<div class="row text-center" style="margin-top: 20px">
	<div class="large-12 columns">
		<%= f.hidden_field :user_id, {value: current_user.id} %>
		<%= f.button "Guardar partida", {type: 'submit', class: 'small button'} %>
	</div>
</div>

