<div class="row">
  <div class="large-3 columns">
    <%= link_to (image_tag "dotapy-logo.png", alt: "DotaPy"), root_path %>
  </div>
  <div class="large-9 columns">
    <div class="row text-right">
      <div class="large-12 columns">
        <ul class="right button-group">
          <li><%= link_to "Noticias", articles_path, class: "button small" %></li>
          <li><%= link_to "Season 2", season2_path, class: "button small" %></li>
          <li><%= link_to "Staff", staff_path, class: "button small" %></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="large-12 columns text-right">
        <div id="user-widget">
          <% if current_user %>
            <%= image_tag current_user.avatar_url, style: "height:32px;margin-right: 10px" %><%= current_user.nickname %>
            <small>
              <%= link_to "Perfil", player_profile_slug_url(id: current_user.id, slug: current_user.nickname.parameterize) %> | <%= link_to "Salir", signout_path, id: "sign_out" %>
              <% if current_user.admin == true %>
                | <%= link_to "Admin", admin_articles_path %>
              <% end %>
            </small>
          <% else %>
            <%= link_to (image_tag "http://steamcommunity-a.akamaihd.net/public/images/signinthroughsteam/sits_small.png", alt: "Sign in through Steam"), "/auth/steam", id: "sign_in" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
