<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? "DotaPy – #{yield :title}" : "DotaPy" %></title>
    <meta name="description" content="Todo sobre la segunda temporada del DotaPy">

    <meta property="og:title" content="DotaPy Season 2" />
    <meta property="og:image" content="http://dotapy.com/images/articles/articles/12/fb_thumb_large/Main.png" />
    <meta property="og:site_name" content="DotaPy" />

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%= render partial: 'layouts/social' %>
    <%= render partial: 'layouts/analytics' %>
  </head>

  <body>

    <!-- HOME HEADER -->
    <%= render partial: "layouts/header" %>

    <div class="row">
      <div class="large-12 columns">
        <hr>
      </div>
    </div>

    <div class="row" style="margin-top:30px">    
      <div class="large-12 columns" id="article-body">
        <%= yield %>
      </div>
    </div>

    <!-- FOOTER -->
    <%= render partial: "layouts/footer" %>

  </body>
</html>
